tutorial_script/weather_report/
tutorial_script/.cache/

finrobot/__pycache__/
finrobot/.ipynb_checkpoints/

finrobot/agents/__pycache__/

finrobot/data_source/__pycache__/
finrobot/data_source/.cache/
finrobot/data_source/.ipynb_checkpoints/

finrobot/functional/__pycache__/
finrobot/functional/.ipynb_checkpoints/
finrobot/functional/.cache/


.ipynb_checkpoints/

OAI_CONFIG_LIST
config_api_keys

.env